footer {
    width: 100%; 
    margin: auto;
    background-color: #FFF;
    display: flex;
    justify-content: flex-end;
}
    footer nav ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        li {
            padding: 0 20px;
        }
        p {
            margin-top: 4px;
        }
        p,a {
            font-size: 12px;
            color: #000;
            text-decoration: none;
        }
        a:hover {
            font-weight: 600;
            color: var(--green);
        }
    }